
.overlay {
	block-size: 100%;
	inline-size: 100%;
	position: absolute;
	inset: 0;
	z-index: 9;
	background-color: black;
	opacity: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
	display: grid;
	inline-size: min(100%, 544px);
	//block-size:min-content;
	//position: absolute;
	/*left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 10;*/
	grid-template-areas:
		'. title button'
		'content content content';
	grid-template-columns: 10% 80% 10%;
  justify-items: center;
  align-items: center;
	grid-template-rows: min-content 1fr;
  background-color: var(--color-common,#fff);
  padding: 10px;
}

.title {
	grid-area: title;
	font-weight: var(--font-weigth-bold, 700);
	font-size: var(--font-size-big, 32px);
	line-height: 40px;
	color: var(--color-text-common, #374045);
}

.content {
	grid-area: content;
}

.button {
	grid-area: button;
  justify-self: end;
	background: none;
	border: none;
	color: inherit;
	block-size: 12px;
	inline-size: 12px;
}
