.book {
  display: grid;
  grid-template-columns: 50% 50%; 
  grid-template-rows: 100%;
  grid-template-areas: "left right";
  border: 1px solid green;
  max-inline-size: max(320px, calc(100% - 2*20px));
  inline-size: 100%;
  block-size: 100%;
  max-block-size: 100%;
  align-self: center;
  justify-self: center;
  justify-content: left;
  justify-items: start;
  perspective: 800vw;
  perspective-origin: 50vw 50vw;
}